<input type="checkbox" name="done" {{#if todo.done}} checked{{/if}} disabled>
<p>{{{todo.name}}}</p>
<a href="/">Back</a>
<a href="/todos/{{{todo.id}}}/edit">Edit</a>
<form action="/todos/{{{todo.id}}}/delete" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>